{{#address}}<li>
	<label for="address_billing_address">Billing Address</label><br />
	<input type="text" name="address[billing_address]" id="address_billing_address" value="{{billing_address}}" />
</li>
<li>
	<label for="address_billing_city">Billing City</label><br />
	<input type="text" name="address[billing_city]" id="address_billing_city" value="{{billing_city}}" />
</li>
<li>
	<label for="address_billing_state">Billing State</label><br />
	<input type="text" name="address[billing_state]" id="address_billing_state" value="{{billing_state}}" />
</li>
<li>
	<label for="address_billing_postal_code">Billing Postal Code</label><br />
	<input type="text" name="address[billing_postal_code]" id="address_billing_postal_code" value="{{billing_postal_code}}" />
</li>
<li>
	<label for="address_shipping_address">Shipping Address</label><br />
	<input type="text" name="address[shipping_address]" id="address_shipping_address" value="{{shipping_address}}" />
</li>
<li>
	<label for="address_shipping_city">Shipping City</label><br />
	<input type="text" name="address[shipping_city]" id="address_shipping_city" value="{{shipping_city}}" />
</li>
<li>
	<label for="address_shipping_state">Shipping State</label><br />
	<input type="text" name="address[shipping_state]" id="address_shipping_state" value="{{shipping_state}}" />
</li>
<li>
	<label for="address_shipping_postal_code">Shipping Postal Code</label><br />
	<input type="text" name="address[shipping_postal_code]" id="address_shipping_postal_code" value="{{shipping_postal_code}}" />
</li>{{/address}}